@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #1D1E28;
    background-image: url(./bg-stars.svg);
}

.launch_text{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 6.13636px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 327px;
}

.launch{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 142px;
}

.date_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    margin-top: 54px;
    width: 100%;
}

.date_rectangle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    width: 70px;
    border-radius: 4px 4px 0 0;
    background: red;
}

.date_rectangle_bot{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 33px;
    width: 70px;
    background: green;
    border-radius: 0 0 4px 4px;
    align-self: flex-end;
    justify-self: end;
    flex-direction: column;
}