@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #1D1E28;
    background-image: url(./bg-stars.svg);
}

.launch_text{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 6.13636px;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 327px;
}

.launch{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 142px;
}

.date_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
    align-items: center;
    column-gap: 16px;
    margin-top: 54px;
    width: 100%;
}

.date_rectangle{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 66.2px;
    width: 70px;
    border-radius: 4px 4px 4px 4px;
    background: #343650;
    box-shadow: 0 5px rgba(0, 0, 0, 0.20);;
    position: relative;
    overflow: hidden;
}

.date_rectangle_span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.little_round_first{
    position: absolute;
    background: #191A23;
    border-radius: 50%;
    width: 6.5px;
    height: 6.5px;
    left: -3.25px;
    top: 29.8px;
}
.little_round_last{
    position: absolute;
    background: #191A23;
    border-radius: 50%;
    width: 6.5px;
    height: 6.5px;
    left: 67px;
    top: 29.8px;
}

.days,
.hours,
.minutes,
.seconds{
    position: absolute;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 71px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -1.08px;
    color: #FB5E84;
}

.line{
    position: absolute;
    height: 1px;
    background: #000000;
    mix-blend-mode: normal;
    opacity: 0.25;
    width: 100%;
}





.days_text,
.hours_text,
.minutes_text,
.seconds_text{
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 700;
    font-size: 7px;
    line-height: 9px;
    text-align: center;
    letter-spacing: 2.95937px;
    color: #8385A9;
    margin-top: 9px;
}

.footer_image{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    bottom: -142px;
}

.footer_img{
    width: 971px;
    height: 168px;
    position: relative;
    left: -220px;
}

.social_media{
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    z-index: 1;
    margin-top: 50px;
}

.pintereset{
    margin-left: 32px;
}

.instagram{
    margin-left: 32px;
}

















@media only screen and (min-width: 1440px){


    body{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .launch_text{
        font-size: 22px;
        line-height: 29px;
        width: 100%;
    }

    .date_container{
        column-gap: 32px;
    }

    .date_rectangle{
        height: 140px;
        width: 148px;
    }

    .days,
    .hours,
    .minutes,
    .seconds{
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 700;
        font-size: 80px;
        line-height: 71px;
        text-align: center;
        letter-spacing: -2.4px;
        color: #FB5E84;
    }

    .little_round_first{
        position: absolute;
        background: #191A23;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        left: -6px;
        top: 63.8px;
    }
    .little_round_last{
        position: absolute;
        background: #191A23;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        left: 142px;
        top: 63.8px;
    }
    

    .date_rectangle {
        box-shadow: 0 10px rgb(0 0 0 / 20%);
    }

    .date_text{
        display: flex;
        justify-content: flex-start;
        width: 688px;
        margin-top: 16px;
    }

    .days_text,
    .hours_text,
    .minutes_text,
    .seconds_text{
        margin-top: 16px;
        font-family: 'Red Hat Text';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 19px;
        text-align: center;
        letter-spacing: 5.91875px;
        color: #8385A9;
    }
   
    .date_rectangle_span{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    .footer_image{
        bottom: 0;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }

    .footer_img{
        width: 100%;
        left: 0;
    }

    .social_media{
        display: flex;
        justify-content: center;
        width: 100%;
        position: absolute;
    }

    .pintereset{
        margin-left: 32px;
    }

    .instagram{
        margin-left: 32px;
    }





}
